<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Oswald" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" media="screen" rel="stylesheet" type="text/css" />  
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/home.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="site.js"></script>
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->


    <title>Home</title>
  </head>
  
  <body>
    <div id="absolute-wrapper">
      <img class="image">
    </div>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="/">RosettaTone
        </a>
        <ul class="nav pull-right">
          <li>
            <a href="/yourlang"><strong>Sign Up</strong>
            </a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <div class="hero-unit">
          <h1 class="heading">Unlock the world through music</h1>
          <p>Combine music and language education through the power of Karaoke</p>
          <div class="btns">
            <a href="/yourlang" class="btn btn-primary btn-large pull-center">Let me sing already!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row-fluid">
        <span class="span4"> <i class="icon icon-flag pull-center"></i> 
          <p class="p-1 p-5"><b>Choose your language</b>
          </p>
          <p class="p-2 p-6">With more than 6 languages supported and growing, use RosettaTone to unlock a world of exploration</p>
        </span>
        <span class="span4"> <i class="icon icon-play pull-center"></i> 
          <p class="p-1 p-3"><b>Sing and learn</b>
          </p>
          <p class="p-2 p-4">A great song will stay with you long after rote memorization. Have fun and the learning wil come naturally!</p>
        </span>
        <span class="span4"> <i class="icon icon-book pull-center"></i> 
          <p class="p-1 p-3"><strong>Test your knowledge</strong>
          </p>
          <p class="p-2 p-4">Practice makes perfect! Use our quiz option to test your mastery of the song lyrics.</p>
        </span>
      </div>
    </div>
    <div class="footer" style="height:120px">
      <p style="line-height:120px; margin-left: 40%; color:#ffffff; font-style: italic;">Built in 24 hours with Node, jQuery, and AWS.</p>
    </div>
  </body>

</html>