<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/karaoke.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title>Karaoke</title>
  </head>
  
  <body>
    <div id="absolute-wrapper">
      <img class="image">
    </div>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="#">Rosetta
          <span>Tone</span>
        </a>
        <ul class="nav pull-right">
          <li>
            <a href="#"><strong>Sign Up</strong>
            </a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container container-1">
      <div class="container">
        <h1 class="heading heading-1 heading-3">Lyrics in the song language goes here...</h1>
        <h1 class="heading heading-1 heading-2">Lyrics in your language goes here...</h1>
        <div class="container-fluid">
          <div class="well">
            <div class="row-fluid">
              <span class="span1"> <i class="icon icon-caret-left pull-center"></i> 
                <p>Prev.</p>
              </span>
              <span class="span10">
                <h1 class="heading heading-2">Audio player goes here</h1>
              </span>
              <span class="span1"> <i class="icon icon-caret-right pull-center"></i> 
                <p>Next</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>