<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/songselection.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title>SongSelection</title>
  </head>
  
  <body>
    <div id="absolute-wrapper">
      <img class="image">
    </div>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="#">Rosetta
          <span>Tone</span>
        </a>
        <ul class="nav pull-right">
          <li>
            <a href="#"><strong>Sign Up</strong>
            </a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h1 class="heading">Pick a song or
        <a href="#">start the course</a>
      </h1>
    </div>
    <div class="container container-1 container-2">
      <a href="/karaoke-feliz" class="song"><div class="row-fluid">
        <span class="span3">
          <img class="image" src="../assets/img/songs/Feliz.jpg">
        </span>
        <span class="span8">
          <div class="page-header">
            <h1>Feliz Navidad <small><br>José Feliciano (1970)</small>
            </h1>
          </div>
          <span class="label label-success pull-right label-success-1">EASY</span>
        </span>
      </div></a>
    </div>
    <div class="container container-1 container-2">
      <a href="/karaoke-hero" class="song"><div class="row-fluid">
        <span class="span3">
          <img class="image" src="../assets/img/songs/Hero.jpg">
        </span>
        <span class="span8">
          <div class="page-header">
            <h1>Hero <small><br>Enrique Iglesias (2001)</small>
            </h1>
          </div>
          <span class="label label-success pull-right label-success-2">MEDIUM</span>
        </span>
      </div></a>
    </div>
    <div class="container container-1 container-2">
      <a href="/karaoke-ketchup" class="song"><div class="row-fluid">
        <span class="span3">
          <img class="image image-1" src="../assets/img/songs/ketchup.jpeg">
        </span>
        <span class="span8">
          <div class="page-header">
            <h1>Asereje "The Ketchup Song" <small><br>Las Ketchup (2002)</small>
            </h1>
          </div>
          <span class="label label-success pull-right label-success-3">HARD</span>
        </span>
      </div></a>
    </div>
  </body>

</html>