<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/songselection.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../sidr/stylesheets/jquery.sidr.dark.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="../sidr/jquery.sidr.min.js"></script>
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title>SongSelection</title>
  </head>
  
  <body>
        <a id="simple-menu" href="#sidr"> 
          <div style="height:100px; width: 30px; background-color: #e74c3c; position: absolute; top:200px; color: #ffffff; font-weight: bold; left:0px;">
            <span>F</span>
            <span>i</span>
            <span>l</span>
            <span>t</span>
            <span>e</span>
            <span>r</span>

          </div>
        </a>
        <div id="sidr" class="sidr left">
          <ul>
            <li>Folk</li>
            <li>Rap</li>
            <li>Rock</li>
            <li>Soul</li>
            <li>Vocal</li>
          </ul>
        </div>
    <div id="absolute-wrapper">
      <img class="image">
    </div>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="/">RosettaTone
        </a>
        <ul class="nav pull-right">
          <li>
            <a href="#"><strong>Sign Up</strong>
            </a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h1 class="heading">Pick a song or
        <a href="/karaoke-feliz">start the course</a>
      </h1>
    </div>
    <div class="container container-1 container-2">
      <a href="/karaoke-feliz" class="song"><div class="row-fluid">
        <span class="span3">
          <img class="image" src="../assets/img/songs/Feliz.jpg">
        </span>
        <span class="span8">
          <div class="page-header">
            <h1>Feliz Navidad <small rel="popover" data-trigger="hover" data-content="José Feliciano is a Puerto Rican virtuoso guitarist, singer and composer known for many international hits including his rendition of The Doors' 'Light My Fire and the best-selling Christmas single 'Feliz Navidad.'" data-original-title="José Feliciano"><br>José Feliciano (1970)</small>
            </h1>
          </div>
          <span class = "span10" style="margin-left:0px">
            <p>Born: September 10, 1945 (age 67), Lares, Puerto Rico </p>
            <p>Albums: Escenas De Amor, Feliz Navidad, Señor Bolero, More </p>
          </span>
          <span class = "span2">
            <span class="label label-success pull-right label-success-1">EASY</span>
          </span>
        </span>
      </div></a>
    </div>
    <div class="container container-1 container-2">
      <a href="/karaoke-hero" class="song"><div class="row-fluid">
        <span class="span3">
          <img class="image" src="../assets/img/songs/Hero.jpg">
        </span>
        <span class="span8">
          <div class="page-header">
            <h1>Hero <small rel="popover" data-trigger="hover" data-content="Enrique Iglesias is a Spanish singer-songwriter, model, actor, and record producer." data-original-title="Enrique Iglesias"><br>Enrique Iglesias (2001)</small>
            </h1>
          </div>
            <span class = "span10" style="margin-left:0px">
              <p>Born: May 8, 1975 (age 38), Madrid, Spain</p>
              <p>Height: 6' 3" (1.90 m)</p>
            </span>
            <span class = "span2">
              <span class="label label-success pull-right label-success-2">MEDIUM</span>
            </span>
        </span>
      </div></a>
    </div>
    <div class="container container-1 container-2">
      <a href="/karaoke-ketchup" class="song"><div class="row-fluid">
        <span class="span3">
          <img class="image image-1" src="../assets/img/songs/ketchup.jpeg">
        </span>
        <span class="span8">
          <div class="page-header">
            <h1>Asereje "The Ketchup Song" <small rel="popover" data-trigger="hover" data-content="Las Ketchup is a Spanish family pop girl group, founded by flamenco producer, Manuel Ruiz. The group is best known for the 2002 song, 'The Ketchup Song', which sold over 7 million singles." data-original-title="Las Ketchup"><br>Las Ketchup (2002)</small>
            </h1>
          </div>
          <span class = "span10" style="margin-left:0px">
              <p>Origin: Córdoba, Spain</p>
<p>Albums: Las Hijas del Tomate, Un Blodymary, The Ketchup Song</p>
          </span>
          <span class = "span2">
            <span class="label label-success pull-right label-success-3">HARD</span>
          </span>
        </span>
      </div></a>
    </div>

<script>  
  $(function ()   
    {$("#simple-menu").sidr();
  });
</script>

<script>  
  $(function ()  
  { $(".page-header h1 small").popover();  
  });
</script>  

 <div class="footer" style="height:120px">
      <p style="line-height:120px; margin-left: 40%; font-style: italic;">Built in 24 hours with Node, jQuery, and AWS.</p>
    </div>

  </body>

</html>