<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/yourlanguage.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title>YourLanguage</title>
  </head>
  
  <body>
    <div id="absolute-wrapper">
      <img class="image">
    </div>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="#">Rosetta
          <span>Tone</span>
        </a>
        <ul class="nav pull-right">
          <li>
            <a href="/yourlang"><strong>Sign Up</strong>
            </a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h1 class="heading" id="question" style="font-size: 40px; font-weight: bold; line-height: 50px; height: 50px">What's your language?</h1>
      <div class="row-fluid row-fluid-1">
        <a href="/newlang"><span class="span4" id="your1">
          <div class="container-fluid container-fluid-1">
            <div class="well">
              <div class="row-fluid">
                <span class="span6">
                  <img src="http://www.mapsofworld.com/images/world-countries-flags/united-states-flag.gif" class="image">
                </span>
                <span class="span6">
                  <h1 class="heading pull-center">EN</h1>
                </span>
              </div>
            </div>
          </div>
        </span></a>
        <a href="/newlang"><span class="span4"id="your2">
          <div class="container-fluid container-fluid-2">
            <div class="well">
              <div class="row-fluid">
                <span class="span6">
                  <img src="http://www.mapsofworld.com/images/world-countries-flags/france-flag.gif" class="image">
                </span>
                <span class="span6">
                  <h1 class="heading pull-center">FR</h1>
                </span>
              </div>
            </div>
          </div>
        </span></a>
        <a href="/newlang">
        <span class="span4" id="your3">
          <div class="container-fluid container-fluid-3">
            <div class="well">
              <div class="row-fluid">
                <span class="span6">
                  <img src="http://www.mapsofworld.com/images/world-countries-flags/germany-flag.gif" class="image">
                </span>
                <span class="span6">
                  <h1 class="heading pull-center">GR</h1>
                </span>
              </div>
            </div>
          </div>
        </span>
      </div></a>
      <!--h1 class="heading heading-1">What's your language?</h1-->
      <div class="row-fluid row-fluid-1">
        <a href="/newlang">
        <span class="span4" id="your4">
          <div class="container-fluid container-fluid-4">
            <div class="well">
              <div class="row-fluid">
                <span class="span6">
                  <img src="http://www.mapsofworld.com/images/world-countries-flags/spain-flag.gif" class="image">
                </span>
                <span class="span6">
                  <h1 class="heading pull-center">SP</h1>
                </span>
              </div>
            </div>
          </div>
        </span></a>
        <a href="/newlang">
        <span class="span4"id="your5">
          <div class="container-fluid container-fluid-5">
            <div class="well">
              <div class="row-fluid">
                <span class="span6">
                  <img src="http://www.mapsofworld.com/images/world-countries-flags/russian-federation-flag.gif" class="image">
                </span>
                <span class="span6">
                  <h1 class="heading pull-center">RU</h1>
                </span>
              </div>
            </div>
          </div>
        </span></a>
        <a href="/newlang">
        <span class="span4" id="your6">
          <div class="container-fluid container-fluid-6">
            <div class="well">
              <div class="row-fluid">
                <span class="span6">
                  <img src="http://www.mapsofworld.com/images/world-countries-flags/italy-flag.gif" class="image">
                </span>
                <span class="span6">
                  <h1 class="heading pull-center">IT</h1>
                </span>
              </div>
            </div>
          </div>
        </span></a>
      </div>
    </div>
     <div class="footer" style="height:120px">
      <p style="line-height:120px; margin-left: 40%; font-style: italic;">Built in 24 hours with Node, jQuery, and AWS.</p>
    </div>
  </body>

</html>