 body {
   padding-left: 0;
   padding-right: 0;
   background-color: #272727;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 0px;
 }
 #absolute-wrapper .image {
   width: 0px;
   height: 0px;
   position: absolute;
   top: 0px;
   left: 0px;
 }
 .navbar {
   height: 60px;
   background:#E0E0E0;
 }
 .navbar .navbar-inner {
   border: none;
   background-color: #efefef;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .row-fluid{
   background-color: #ffffff;
 }
 .navbar .navbar-inner .brand {
   font-family:"oswald";
   font-weight: bold;
   font-size: 24px;
   color: #34495e;
   line-height: 40px;
 }
 .navbar .navbar-inner .brand span {
   color: #e74c3c;
 }
 .navbar .navbar-inner .nav li a {
   line-height: 40px;
 }
 .container-fluid .container {
   margin-top: 0px;
   background: rgba(0, 0, 0, 0) url(../assets/img/travel3.jpg) no-repeat 0px 0px;
   background-size: cover;
   height: 500px;
 }
 .container-fluid .container .hero-unit {
   background:none;
   margin: 40px;
 }
 .container-fluid .container .hero-unit .heading {
   font-family:"Open Sans";
   font-weight: bolder;
   font-size: 56px;
   color: #fff;
   text-shadow:#000 1px 1px 1px;
   margin-bottom: 6px;
   margin-top:0px;
   text-align: center;
 }

 .container-fluid .container .hero-unit p {
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 28px
 }
 .container-fluid .container .hero-unit .btns .btn-primary {
   background: #3498db;
   border-radius: 0px;
   width: 300px;
   height: 60px;
   opacity: 1 !important;
   font-size: 26px;
   padding-top: 20px;
   line-height: 48px;
 }
 .container .row-fluid {
   padding: 40px 0px 100px 0px;
 }
 .container .row-fluid .span4 .icon.icon-flag {
   font-size: 100px;
   color: #95a5a6;
   height: 100px;
   width: 100px;
 }
 .container .row-fluid .span4 p.p-1 {
   margin: 0px;
   font-size: 20px;
 }
 .container .row-fluid .span4 p {
   text-align: center;
 }
 .container .row-fluid .span4 p.p-2 {
   font-size: 16px;
 }
 .container .row-fluid .span4 p.p-3 {
   padding: 20px 20px 0px 20px;
 }
 .container .row-fluid .span4 p.p-4 {
   padding: 10px 20px 0px 20px;
 }
 .container .row-fluid .span4 p.p-5 {
   padding: 20px 30px 0px 30px;
 }
 .container .row-fluid .span4 .p-2.p-6 {
   padding: 10px 30px 0px 30px;
 }
 .container .row-fluid .span4 .icon.icon-play {
   font-size: 100px;
   color: #95a5a6;
   height: 100px;
   width: 100px;
 }
 .container .row-fluid .span4 .icon.icon-book {
   font-size: 100px;
   color: #95a5a6;
   height: 100px;
   width: 100px;
 }